<script src="https://cdn.jsdelivr.net/npm/tom-select@latest/dist/js/tom-select.base.min.js"></script>
<link href="https://unpkg.com/@tabler/core@1.0.0-beta5/dist/css/demo.min.css" rel="stylesheet"/>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var el;
        window.TomSelect && (new TomSelect(el = document.getElementById('{{ id }}'), {
            // copyClassesToDropdown: false,
            // dropdownClass: 'dropdown-menu',
            // optionClass: 'dropdown-item',
            // controlInput: '<input>',
            // render: {
            //     item: function (data, escape) {
            //         if (data.customProperties) {
            //             return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
            //         }
            //         return '<div>' + escape(data.text) + '</div>';
            //     },
            //     option: function (data, escape) {
            //         if (data.customProperties) {
            //             return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
            //         }
            //         return '<div>' + escape(data.text) + '</div>';
            //     },
            // },
        }));
    });
</script>